* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial;
    line-height: 24px;
}

.ancho {
    max-width: 1200px;
    margin: auto;
    /* border: 1px blue solid; */
}

/* header ------------------------------ */

header{
    padding: 10px;
}

header img{
    max-width: 100px;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}

#icono_sandwich{
    display: none;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

.menu_href{
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font-size: 20px;
}

.menu_href:hover{
    border-bottom: 3px #ff4048 solid;
}

/* clases para que funcione el slide ----------------- */

.rslides{
    position: relative;
    list-style: none;
    overflow: hidden;
    /* width: 100%; */
    max-width: 1400px;
    margin: auto;
    padding: 0;
    /* margin: 0; */
    min-height: 400px;
}

.rslides li {
    /* quitar el webkit */
    backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    max-height: 700px;
    min-height: 400px;
    object-fit: cover; 
    /* Cuando se mofique el tamaño se le tiene que agregar */
}

/* contenedor slide ------------------------- */

.contenedor_slide{
    position: relative;
    max-width: 1400px;
    max-height: 700px;
    margin: auto;
}

.texto_slide{
    position: absolute;
    top: 20%;
    right: 7%;
    z-index: 30;
    max-width: 450px;
    color: #333333;
    padding: 30px;
    text-align: right;
}

.texto_slide h2{
    font-size: 60px;
    font-weight: 800px;
    line-height: 80px;
    color: #ff4048;
}

.texto_slide p{
    font-size: 19px;
}

.boton_jon_now{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #ff4048;
    padding: 20px 50px;
    border-radius: 4px;
    font-weight: 800;
}

.filtro{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 150, 150, 0.4);
}

/* contenedor servicios ------------------------- */

.contenedor_servicios{
    text-align: center;
}

.contenedor_servicios h3{
    font-size: 40px;
    margin: 60px;
}

.cajas_servicios{
    display: grid;
    flex-direction: row;
    grid-template: auto / repeat(4, 1fr);
    gap: 30px;
    margin: 40px auto;
}

.icon{
    width: 90px;
    height: 90px;
    border: 4px #ccc solid;
    display: inline-block;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.cajas i{
    font-size: 50px;
    color: #ff4048;
}

.cajas h4{
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.cajas p{
    font-size: 18px;
    margin: 15px;
    color: #848484;
}

/* contenedor galeria -------------------- */

.contenedor_galeria{
    margin: auto;
    max-width: 1400px;
    padding: 50px 0px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor_fotos{
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    max-width: 800px;
    order: 1;
}

.fotos{
    width: 400px;
    height: 300px;
}

.fotos img{
    max-width: 400px;
    height: 100%;
    display: block;
    object-fit: cover;
}

.contenedor_texto{
    order: 2;
    max-width: 400px;
    margin-right: 130px;
}

.contenedor_texto h2{
    line-height: 40px;
    max-width: 250px;
    font-size: 30px;
}

.contenedor_texto span{
    font-weight: lighter;
}

.contenedor_texto p{
    margin: 30px auto;
}

/* contenedor subir ----------------------- */

.contenedor_subir{
    text-align: right;
    margin: 15px auto;
}

.subir{
    background-color: #ff4048;
    padding: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.linea{
    background-color: #ccc;
    margin: 50px auto;
    height: 2px;
    border: none;
    max-width: 1400px;
}


/* footer ------------------------- */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
}

.redes{
    display: flex;
    flex-direction: row;
    max-width: 300px;
}

.cir_icono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    border: 1px #333 solid;
}

.cir_icono a{
    display: inline-block;
}

.cir_icono i{
    color: #ff4048;
    font-size: 20px;
}

